nav {
    background-color: #0033a0;
    margin-top: 0px;
    
}
nav ul{
    padding-inline-start: 5%;
    padding-inline-end: 5%;
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-block-start: 0px;
}
li{
    align-content: center;
    height: 40px;
    padding: 2px;
    flex-grow: 1;
    list-style: none;
    color: white;
    text-align: center;
}
li:hover{
    border-style: solid;
    border-color: white;
    border-bottom: 0px;
    border-top: 0px;
    border-radius: 10px;
}
