.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.pagination-controls {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

@import '../../shared/shared-styles/shared.styles.css';